<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373276664395-nvld69kua0c99ne848keqlkleqtqu303.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373276664395-nvld69kua0c99ne848keqlkleqtqu303</string>
	<key>API_KEY</key>
	<string>AIzaSyA7jU2OoY1VU1nmnIC0S_pn5_ki9fJX99E</string>
	<key>GCM_SENDER_ID</key>
	<string>373276664395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryApp</string>
	<key>PROJECT_ID</key>
	<string>foody-office-f9f6c</string>
	<key>STORAGE_BUCKET</key>
	<string>foody-office-f9f6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373276664395:ios:555d62cd46daa4f2d523ce</string>
</dict>
</plist>